/*  your css code here. If applicable */
body{
	text-align: center;
	background-color: rgb(204, 204, 204);
}
li{
	list-style-type: none;
}
a{
	text-decoration-line: none;
}
.player_one{
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 20px;
}
.player_two{
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 20px;
}